<!DOCTYPE html>
<html xmlns:t4="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    {% block head %}
    {{  addCss() | raw }}
    <title>{% block title %}{% endblock %}php - framework</title>
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/articles/all">Articles</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-body">
                        {% block content %}{% endblock %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="footer">
    {% block footer %}

    {% endblock %}
</div>
</body>
</html>